{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue
{% endblock %}

{% block body %}
	{{ include( '/_navBar.html.twig') }}
	<div class="container mt-5 default d-flex flex-column">
		<div class="row mt-5">
			<h1 class="text-center">Bienvenue
				{{ app.user.username }}
				!</h1>
		</div>
		<div class="row mt-5">
			<div class="col-6 d-flex flex-column justify-content-around align-items-center">
				<div class="card bg-primary text-center p-2" style="width: 18rem;">
					<img class="userImg mx-auto" src="{{ app.user.image }}" alt="Card image cap">
					<div class="card-body d-flex align-items-center justify-content-center">
						<a href="{{ path('user_show', {'id': app.user.id}) }}" class="link-primary btn bg-secondary btn-lg">
							voir ma page
						</a>
					</div>
				</div>
			</div>
			<div class="col-6 d-flex flex-column justify-content-around align-items-center">
				<div class="card bg-primary p-2" style="width: 18rem;">
					<img class="userImg mx-auto" src="{{ asset('build/images/logoX.png') }}" alt="Card image cap">
					<div class="card-body d-flex align-items-center justify-content-center">
						<a href="{{ path('game') }}" class="link-primary btn bg-secondary btn-lg">
							Jouer !
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
