{% extends 'base.html.twig' %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block body %}
	{{ include( '/_navBar.html.twig') }}
	<div class="container mt-5 default d-flex flex-column profil">
		<div class="row my-5">
			<h1 class="text-center">Page de 
				{{ user.username }}
				</h1>
		</div>
		<div class="row bg-primary rounded border border-secondary my-5">
			<div class="col-6 text-center">
				<img class="userImg my-3" src="{{ user.image }}" alt="{{ user.username }}">
			</div>
			<div class="col-6 d-flex flex-column justify-content-around align-items-center">
				<a href="{{ path('user_edit', {'id': user.id}) }}" class="link-primary btn bg-secondary btn-lg">
					Modifier mon profil
				</a>
			</div>
		</div>
		<div class="row bg-primary p-5 rounded border border-secondary m-3">
			<h2 class="mb-5 text-center">Tableau des Scores</h2>
			<div class="col text-center">
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<th scope ="col">Table de 1</td>
							<th scope ="col">Table de 2</td>
							<th scoce ="col">Table de 3</td>
						</tr>
                        <tr>
							<td>10/10</td>
							<td>10/10</td>
							<td>10/10</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
